<ion-view view-title="Accounts (REST API)" >
  <ion-content>


  
	 <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="number" placeholder="Search" ng-model="searchId.id">
  </label>
</div>

    <ion-list>
      


  <div align="center">REST API</div>
    
      
      <!-- <ion-item ng-repeat="account in accounts.records" href="#/app/accounts/{{account.id}}">
       <ion-checkbox ng-model="filter.red">{{account.id}}</ion-checkbox> 
      </ion-item>

 -->

<div class="card">
  <div class="item item-text-wrap">
  <!--  <ion-checkbox ng-model="filter.red"></ion-checkbox> -->
<ion-item ng-repeat="account in accounts.records | filter:searchId"  href="#/app/accounts/{{account.id}}">
       
       <label class="checkbox">
        <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="item.checked">
     </label>

       <div><h1>{{account.id}}</h1></div>  
       <div> Total Services:  <b>{{account.totalServ}}</b> <br> Total bill: SAR   <b>{{account.bill}}</b></div> 
       
      </ion-item>

  </div>
</div>

<!-- 
      <ion-item ng-repeat="account in accounts.records" href="#/app/accounts/{{accounts.id}}">
        {{account.bill}}
      </ion-item> -->

    </ion-list>

  </ion-content>



<ion-footer-bar class="bar-subfooter bar-stable">
<div class="buttons">
<button class="button">SELECT ALL</button>
</div>

<h1 class="title"> </h1>

<div class="buttons">
<button class="button button-clear button-assertive">
  Total: SR {{ accounts.total }}
</button>
</div>

</ion-footer-bar>



<div class="bar bar-footer bar-assertive">
<div class="title">
  <button class="button button-block button-clear">PAY</button>
  </div>
</div>



   

</ion-view>
