<ion-view view-title="Accounts" >
  <ion-content>


  
	<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="number" placeholder="Search" ng-model="searchId.id">
  </label>
</div>

    <ion-list>
      
      
      <!--
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
       <ion-checkbox ng-model="filter.red">{{playlist.title}}</ion-checkbox> 
      </ion-item>
-->



<div class="card">
  <div class="item item-text-wrap">
  <!--  <ion-checkbox ng-model="filter.red"></ion-checkbox>	-->
<ion-item ng-repeat="playlist in playlists | filter:searchId"  href="#/app/playlists/{{playlist.id}}">
       
       <label class="checkbox">
        <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="item.checked">
     </label>

       <div><h1>{{playlist.id}}</h1></div>  
       <div> Total Services:  <b>{{playlist.totalServ}}</b> <br> Total bill: SAR   <b>{{playlist.bill}}</b></div> 
       
      </ion-item>

  </div>
</div>

     

d

    </ion-list>

  </ion-content>



<ion-footer-bar class="bar-subfooter bar-stable">
<div class="buttons">
<button class="button">SELECT ALL</button>
</div>

<h1 class="title"> </h1>

<div class="buttons">
<button class="button button-clear button-assertive">
  Total: <!--{{ getTotal() }}--> SR 000
</button>
</div>

</ion-footer-bar>



<div class="bar bar-footer bar-assertive">
<div class="title">
  <button class="button button-block button-clear">PAY</button>
  </div>
</div>



   

</ion-view>
